main.json
{
  "name": "Create & Upload AI-Generated ASMR YouTube Shorts with Seedance, Fal AI, and GPT-4",
  "nodes": [
    {
      "parameters": {
        "jsCode": "function findSceneEntries(obj) {\n  const scenes = [];\n  \n  if (!obj || typeof obj !== 'object') {\n    return scenes;\n  }\n\n  for (const [key, value] of Object.entries(obj)) {\n    if (key.toLowerCase().startsWith(\"scene\") && typeof value === \"string\") {\n      scenes.push(value);\n    } else if (typeof value === \"object\" && value !== null) {\n      scenes.push(...findSceneEntries(value));\n    }\n  }\n  \n  return scenes;\n}\n\ntry {\n  const inputData = $json;  // ✅ Changed from items[0].json\n  const scenes = findSceneEntries(inputData);\n\n  if (scenes.length === 0) {\n    return {\n      json: {\n        warning: \"No scene keys found at any level.\",\n        scene_count: 0,\n        scenes: []\n      }\n    };\n  }\n\n  return {\n    json: {\n      success: true,\n      scene_count: scenes.length,\n      scenes: scenes.map((scene, index) => ({\n        index: index + 1,\n        description: scene\n      }))\n    }\n  };\n  \n} catch (e) {\n  return {\n    json: {\n      error: true,\n      message: \"Could not extract scenes properly\",\n      details: e.message\n    }\n  };\n}"
      },
      "id": "25a59939-f6b6-4fae-8ed0-7808e008331c",
      "name": "Unbundle Prompts",
      "type": "n8n-nodes-base.code",
      "position": [
        3440,
        464
      ],
      "typeVersion": 2,
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {},
      "id": "7edea676-00ad-4c17-8fd9-54e55e06dbc5",
      "name": "Think",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "position": [
        2960,
        768
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Give me 3 video prompts based on the previous \n\nUse the Think tool to review your output",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Role: You are a prompt-generation AI specializing in satisfying, ASMR-style video prompts for kinetic sand. Your task is to generate a multi-scene video sequence that vividly shows a tool (like a knife, scoop, or press) interacting with kinetic sand in a clean, high-detail setting.\n\nYour writing must follow this style:\n\nSatisfying, tactile realism.\nMacro-level detail with a tight focus on the tool interacting with the sand's unique texture.\nThe tool must always be in motion — slicing, scooping, pressing, or crumbling the sand. Never idle or static.\nCamera terms are allowed (e.g. macro view, top-down shot, slow-motion).\n\nEach scene must contain all of the following, expressed through detailed visual language:\n\n✅ The kinetic sand (from the Idea)\n✅ The environment or surface (from the Environment)\n✅ The texture, structure, and behavior of the sand as it's being manipulated\n✅ A visible tool (knife, scoop, mold) actively interacting with the sand\n\nDescriptions should show:\n\nThe physical makeup of the sand — is it layered with different colors, sparkly, smooth, or matte? Emphasize its granular, yet cohesive structure.\nHow the sand responds to the tool — clean slicing, soft crumbling, perfect imprints, satisfying deformation, or a cascading collapse.\nThe interaction between the tool and the sand — sand grains momentarily sticking to the tool, the smooth surface left behind, the crisp edges of a cut.\nAny ASMR-relevant sensory cues like the satisfying crunch, the soft hiss of falling grains, or the shimmer of glitter, but always shown visually — not narrated.\n\nTone:\n\nSatisfying, mesmerizing, tactile.\nNo poetic metaphors, emotion, or storytelling.\nAvoid fantasy or surreal imagery.\nAll description must feel physically grounded and visually appealing.\n\nLength:\n\nEach scene must be between 1,000 and 2,000 characters.\nNo shallow or repetitive scenes — each must be immersive, descriptive, and specific.\nEach scene should explore a distinct phase of the action, a different camera perspective, or a new behavior of the sand.\n\nInputs:\n\nIdea: \"{{ $json.idea }}\"\nEnvironment: \"{{ $json.environment_prompt }}\"\nSound: \"{{ $json.sound_prompt }}\"\n\nFormat:\n\nIdea: \"...\"\nEnvironment: \"...\"\nSound: \"...\"\n\nScene 1: \"...\"\nScene 2: \"...\"\nScene 3: \"...\"\n(and so on)"
        }
      },
      "id": "da01687e-ad98-42c0-bab5-057882d6709b",
      "name": "Prompts AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3088,
        464
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"Caption\": \"Diver Removes Nets Off Whale 🐋 #whalerescue #marinelife #oceanrescue #seahelpers #love #nature #instagood #explore #viral #savenature #oceanguardians #cleanoceans\",\n    \"Idea\": \"Diver carefully cuts tangled net from distressed whale in open sea\",\n    \"Environment\": \"Open ocean, sunlight beams through water, diver and whale, cinematic realism\",\n    \"Sound\": \"Primary sound description under 15 words\",\n    \"Status\": \"for production\"\n  }\n]\n"
      },
      "id": "64abf568-4e09-4e5c-bd12-7475e721a54c",
      "name": "Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        2752,
        688
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "d8c29c02-f396-4150-aa2c-550d7b123f9e",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        1872,
        464
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"Idea\": \"An obsidian rock being sliced with a shimmering knife\",\n  \"Environment\": \"Clean studio table, subtle light reflections\",\n  \"Sound\": \"Crisp slicing, deep grinding, and delicate crumbling\",\n  \"Scene 1\": \"Extreme macro shot: a razor-sharp, polished knife blade presses into the dark, granular surface of an obsidian rock, just beginning to indent.\",\n  \"Scene 2\": \"Close-up: fine, iridescent dust particles erupt from the point of contact as the blade cuts deeper into the obsidian, catching the studio light.\",\n  \"Scene 3\": \"Mid-shot: the knife, held perfectly steady, has formed a shallow, clean groove across the obsidian's shimmering surface, revealing a new, smooth texture.\"\n}"
      },
      "id": "f2e85826-3416-4a1e-8f26-5a8538087174",
      "name": "Parser2",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        3280,
        688
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "amount": 120
      },
      "id": "ba98805d-7d8b-476e-86b3-94017f79454b",
      "name": "Wait for Clips",
      "type": "n8n-nodes-base.wait",
      "position": [
        4064,
        464
      ],
      "typeVersion": 1.1,
      "webhookId": "f7e41e2c-5ab1-491e-9a5b-4766d7481836"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "614d8a4b-1319-4c0a-9b52-de284c232a6d",
      "name": "Download Final Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4704,
        1072
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $json.idea }} #Shorts",
        "regionCode": "VN",
        "options": {
          "description": "={{ $json.caption }}\n\n#Shorts #ASMR #Satisfying\n\nAI-Generated Video | Created with n8n automation",
          "notifySubscribers": true,
          "privacyStatus": "public",
          "tags": "=shorts, asmr, viral, satisfying, asmrai, n8n, automation, youtubeshorts"
        }
      },
      "id": "f916f4e9-9634-4863-bdb9-b56e3401165e",
      "name": "Upload to YouTube",
      "type": "n8n-nodes-base.youTube",
      "position": [
        4496,
        464
      ],
      "typeVersion": 1,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "SenLGQg812iOfmgQ",
          "name": "YouTube account"
        }
      },
      "notes": "✅ Upload as YouTube Shorts (9:16, <60s, #Shorts)"
    },
    {
      "parameters": {
        "sendTo": "your-email@gmail.com",
        "subject": "✅ Your new video is ready!",
        "message": "=✅ Your new video is ready!  **Title:** {{ $('Update Final Video to Sheet').item.json.idea }}  Watch it here: https://www.youtube.com/watch?v={{ $('Upload to YouTube').item.json.id }}",
        "options": {
          "senderName": "Bilsimaging -n8n Automation"
        }
      },
      "id": "708c4602-2d5c-49f1-84a8-3117a83ce2cc",
      "name": "Gmail Notification",
      "type": "n8n-nodes-base.gmail",
      "position": [
        5184,
        1248
      ],
      "typeVersion": 2.1,
      "webhookId": "10b061db-4857-4aaa-93c8-2e7ed1933eb2",
      "credentials": {
        "gmailOAuth2": {
          "id": "cZMYvnE9dmKQN9X1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate one short, trendy, and viral ASMR video idea. Describe the core concept in less than 10 words. Do not explain it, just state the idea.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI that specializes in identifying viral trends on platforms like TikTok and YouTube Shorts. Your job is to brainstorm a single, simple, and satisfying ASMR video concept. You must only return the idea as a single line of plain text. Do not add any extra words, formatting, or explanation."
        }
      },
      "id": "86188a74-2ca4-4e15-a151-f5a2ae927763",
      "name": "1. Generate Trendy Idea",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2176,
        464
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "content": "### Step 1: AI Brainstorms an Idea\nThis workflow starts with a Schedule Trigger. The first AI agent generates a simple, trendy ASMR concept. The second agent expands this into a full production plan (caption, environment, etc.).",
        "height": 180,
        "width": 940,
        "color": 3
      },
      "id": "2d8da7d8-c7a0-48b6-b999-59832b543e91",
      "name": "Note: AI Ideation",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1888,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Step 2: Scene Generation & Video Creation\nThe plan is used to generate detailed scene descriptions. Then, we call the Wavespeed AI (Seedance) and Fal AI APIs to create the video clips and sound effects in parallel.",
        "height": 180,
        "width": 600,
        "color": 3
      },
      "id": "692c4c92-7d16-482f-8bca-cc951ab772e4",
      "name": "Note: Asset Generation",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2928,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Step 3: Final Assembly\nThe video clips are stitched together.",
        "height": 180,
        "width": 660,
        "color": 3
      },
      "id": "211c2810-58c9-4246-ba27-561c3e57a74c",
      "name": "Note: Final Assembly",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3632,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Step 4: Distribution & Logging\nThe final video is uploaded to YouTube, the Google Sheet is updated, and notifications are sent.",
        "height": 180,
        "width": 960,
        "color": 3
      },
      "id": "c76e5236-b71b-4705-b30c-89d5ae5dd0f5",
      "name": "Note: Distribution",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4416,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "//ASMR AI Workflow By Bilsimaging.com\n### How It Works\n\nThis workflow is a fully autonomous content factory that creates and publishes satisfying ASMR-style YouTube Shorts without any human intervention. It's a powerful example of chaining multiple AI services together to generate unique media.\n\nThe process runs in four main stages:\n\n1.  **AI Ideation:** A schedule trigger kicks off the workflow. The first AI agent brainstorms a simple, trendy ASMR concept. A second agent then enriches this concept into a detailed JSON production plan, including a viral-style caption, environment description, and sound profile.\n\n2.  **Asset Generation:** The workflow generates detailed scene-by-scene prompts. It then calls the ByteDance Seedance API (via Wavespeed) to create the video clips and the Fal AI API to generate corresponding sound effects.\n\n3.  **Final Assembly:** The clips are sequenced into a final video. \n\n4.  **Distribution & Logging:** The final video is downloaded, uploaded to a designated YouTube channel, the original row in a Google Sheet is updated with the new YouTube link and a \"Done\" status, and notifications are sent via Telegram and Gmail.\n\n### Set Up Steps\n\nThis is an advanced workflow that requires several credentials. \n\nYou will need to create credentials for the following services:\n\n*   **OpenAI:** For the AI agents.\n*   **Wavespeed AI:** For the Seedance video model.\n*   **Fal AI:** For sound generation and video sequencing.\n*   **Google OAuth:** For both the Google Sheets and YouTube nodes. You will need to enable the Google Sheets API and YouTube Data API v3 in your Google Cloud project.\n*   **Telegram Bot:** For the final notification.\n*   **Gmail (Optional):** If you want email notifications.\n\nYou will also need to create a **Google Sheet** to log the ideas and final outputs. A template can be easily created with columns for `id`, `idea`, `caption`, `production_status`, `environment_prompt`, `sound_prompt`, `final_output`, and `youtube_url`.\n\n### Features\n\n*   **Fully Autonomous Content Creation:** Runs on a schedule to generate and publish content without any manual input.\n*   **Two-Stage AI Ideation:** Uses a \"creative\" AI and a \"planning\" AI to produce more dynamic and well-structured ideas.\n*   **Multi-Modal AI:** Chains together text-to-text, text-to-video, and text-to-audio models in a single, cohesive flow.\n*   **Closed-Loop System:** Logs the initial idea to a Google Sheet and updates the *same row* with the final links and status, creating a perfect production log.\n*   **Spreadsheet as a CMS:** Manage your entire content pipeline from a simple Google Sheet.\n*   **Real-time Notifications:** Get immediate alerts on Telegram or Gmail as soon as a new video is live.\n\n### Pro-Tips & How to Handle APIs\n\n*   **API Rate Limits:** If you run the workflow very frequently, some APIs might temporarily block you. To avoid this, you can adjust the **Schedule Trigger** to run less often (e.g., every 30 minutes instead of every 10). For more advanced control, you can add a `batchInterval` in the settings of the HTTP Request nodes.\n\n\n*   **Cost Management:** Remember that AI API calls cost money. It is highly recommended to set up **budget alerts** in your OpenAI, Fal AI, and Wavespeed AI account dashboards to avoid any surprise bills.\n\n*   **Customization:** The creative core of this workflow is in the **Prompts AI Agent** and **Enrich Idea into Plan** nodes. To change the style, tone, or type of videos created, simply edit the `systemMessage` in the options of these nodes.\n\nFor any help or tips on handling the APIs, don't hesitate to contact me at **bilsimaging@gmail.com**.",
        "height": 1240,
        "width": 1320
      },
      "id": "57e8010f-7184-4d88-84fd-d2b85782a09b",
      "name": "SUBMISSION GUIDE",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Take the following trendy ASMR idea and expand it into a full production plan using your required JSON format. Use the examples below for inspiration on how to format the \"Idea\" field.\n\nThe short ASMR idea is:\n[[\n{{ $json.output }}\n]]\n\nHave your final expanded \"Idea\" field be in this format: \"(color/style) (object) being (action)\". \nExamples for your inspiration: layered rainbow kinetic sand being sliced, sparkly purple soap being scooped, neon green slime being pressed.\n\nUse the Think tool to review your output.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=**Role**: You are an AI designed to generate 1 immersive, satisfying idea based on a user-provided topic. Your output must be formatted as a JSON array (single line) and follow all the rules below exactly.\n\n***\nRULES:\n\nOnly return 1 idea at a time.\n\nThe user will provide a key topic (e.g. \"kinetic sand slicing,\" \"satisfying sand scooping,\" \"ASMR sand sounds\").\n\nThe Idea must:\n\nBe under 13 words.\n\nDescribe an interesting and viral-worthy moment, action, or event related to the provided topic.\n\nThe Caption must be:\n\nShort, punchy, and viral-friendly.\n\nInclude one relevant emoji.\n\nInclude exactly 12 hashtags in this order:\n** 4 topic-relevant hashtags\n** 4 all-time most popular hashtags\n** 4 currently trending hashtags\n\nAll hashtags must be lowercase.\n\nSet Status to \"for production\" (always).\n\nThe Environment must:\n\nBe under 20 words.\n\nMatch the action in the Idea exactly.\n\nClearly describe:\n\nWhere the event is happening (e.g. minimalist white surface, clean studio table)\nKey visuals or background details (e.g. bright lighting, subtle glitter)\nStyle of scene (e.g. macro close-up, cinematic slow-motion)\n\nThe Sound must:\n\nBe under 15 words.\n\nDescribe the primary sound that makes sense to happen in the video. This will be fed to a sound model later on.\n\n\n***\nOUTPUT FORMAT (single-line JSON array):\n\n[\n  {\n    \"Caption\": \"That crunch! 🤤 #kineticsand #satisfyingvideos #asmrsand #sand #oddlysatisfying #viral #fyp #explore #trending #tiktok #diy #crafts\",\n    \"Idea\": \"Slicing through a block of layered rainbow kinetic sand\",\n    \"Environment\": \"Macro close-up on a clean, bright white surface, cinematic slow-motion\",\n    \"Sound\": \"Crisp, crunchy slicing sounds with a soft, gentle hiss\",\n    \"Status\": \"for production\"\n  }\n]"
        }
      },
      "id": "62e10519-d31e-4012-8dcf-7e2e82ab35cd",
      "name": "2. Enrich Idea into Plan",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2576,
        464
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/17o9R0-EcuIZp4a24aZo2bhMcxd8A2Sms5gNdvrfj2Fk/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/17o9R0-EcuIZp4a24aZo2bhMcxd8A2Sms5gNdvrfj2Fk/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "06ccc97f-aa87-4c64-860b-0da4739d3de5",
      "name": "3. Log New Idea to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2928,
        464
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PHdV3XmCcawkDpk7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1XWUDdyI_F1J9R95wfMQEACwZb0ghb0qb28k18z2N_RA/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1XWUDdyI_F1J9R95wfMQEACwZb0ghb0qb28k18z2N_RA/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $json.url }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "58b1f682-2752-4995-b05e-7598353d7a61",
      "name": "Update Final Video to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        4288,
        464
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PHdV3XmCcawkDpk7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": "YOUR_SHEET_NAME"
        },
        "columns": {
          "value": {
            "youtube_url": "=https://www.youtube.com/watch?v={{ $('Upload to YouTube').item.json.id }}"
          },
          "mappingMode": "defineBelow"
        },
        "options": {}
      },
      "id": "fbf64920-6e9c-4dfa-b75a-bbf022ea597b",
      "name": "Update Sheet with Youtube Link",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        5184,
        880
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PHdV3XmCcawkDpk7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2176,
        672
      ],
      "id": "6d9f5d1e-8c00-484b-aefb-e517b49f05dd",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "hDiwafehpBSiKTGr",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2576,
        672
      ],
      "id": "a88a1a49-7419-4b0b-9c71-8b5800359e3e",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "hDiwafehpBSiKTGr",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "modelId": {
          "__rl": true,
          "value": "models/veo-3.0-fast-generate-preview",
          "mode": "list",
          "cachedResultName": "models/veo-3.0-fast-generate-preview"
        },
        "prompt": "={\n  \"aspect_ratio\": \"9:16\",\n  \"duration\": 10,\n  \"prompt\": \"VIDEO THEME: {{ $('Prompts AI Agent').item.json.output.Idea }} | WHAT HAPPENS IN THE VIDEO: {{ $json.description }} | WHERE THE VIDEO IS SHOT: {{ $('Prompts AI Agent').item.json.output.Environment }}\"\n}",
        "returnAs": "video",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        3744,
        464
      ],
      "id": "3955168b-1f87-4a7b-916a-5a716e44cbac",
      "name": "Generate a video",
      "credentials": {
        "googlePalmApi": {
          "id": "UNgwBrwJlLFWfAfz",
          "name": "Google Gemini(PaLM) Api account Pro"
        }
      },
      "notes": "✅ Changed to returnAs: video (binary data)"
    },
    {
      "parameters": {
        "fileName": "=/tmp/videos/video_{{ $now.toFormat('yyyyMMdd_HHmmss') }}.mp4",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "save-video-file-new",
      "name": "Save Video to File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        3944,
        464
      ],
      "notes": "✅ NEW: Save video with timestamp filename"
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for Google Sheet with file info\nconst idea = $('Prompts AI Agent').item.json.output?.Idea || 'No idea';\nconst caption = $('2. Enrich Idea into Plan').item.json.output?.Caption || 'No caption';\nconst environment = $('Prompts AI Agent').item.json.output?.Environment || 'No environment';\nconst sound = $('Prompts AI Agent').item.json.output?.Sound || 'No sound';\n\n// Generate filename with timestamp\nconst now = new Date();\nconst timestamp = now.toISOString().replace(/[-:]/g, '').replace('T', '_').split('.')[0];\nconst fileName = `video_${timestamp}.mp4`;\nconst filePath = `/tmp/videos/${fileName}`;\n\n// Get file size from binary data (before it's written)\nconst fileSize = $input.first().binary?.data?.data?.length || 0;\nconst fileSizeMB = (fileSize / 1024 / 1024).toFixed(2);\n\nreturn {\n  json: {\n    file_name: fileName,\n    file_path: filePath,\n    file_size_mb: fileSizeMB,\n    idea: idea,\n    caption: caption,\n    environment: environment,\n    sound: sound,\n    status: 'video_saved',\n    created_at: now.toISOString(),\n    mime_type: 'video/mp4',\n    url: filePath\n  },\n  // IMPORTANT: Pass through binary data for Upload to YouTube\n  binary: $input.first().binary\n};"
      },
      "id": "prep-sheet-data-new",
      "name": "Prepare Sheet Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4144,
        464
      ],
      "notes": "✅ Format data + pass through binary for YouTube upload"
    }
  ],
  "pinData": {},
  "connections": {
    "Think": {
      "ai_tool": [
        [
          {
            "node": "2. Enrich Idea into Plan",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Prompts AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parser": {
      "ai_outputParser": [
        [
          {
            "node": "2. Enrich Idea into Plan",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Prompts AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Clips": {
      "main": [
        [
          {
            "node": "Update Final Video to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompts AI Agent": {
      "main": [
        [
          {
            "node": "Unbundle Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "1. Generate Trendy Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unbundle Prompts": {
      "main": [
        [
          {
            "node": "Generate a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to YouTube": {
      "main": [
        [
          {
            "node": "Gmail Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Sheet with Youtube Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Final Video": {
      "main": [
        [
          {
            "node": "Upload to YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Generate Trendy Idea": {
      "main": [
        [
          {
            "node": "2. Enrich Idea into Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Enrich Idea into Plan": {
      "main": [
        [
          {
            "node": "3. Log New Idea to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Log New Idea to Sheet": {
      "main": [
        [
          {
            "node": "Prompts AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Final Video to Sheet": {
      "main": [
        [
          {
            "node": "Download Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "1. Generate Trendy Idea",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "2. Enrich Idea into Plan",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Prompts AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate a video": {
      "main": [
        [
          {
            "node": "save-video-file-new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save-video-file-new": {
      "main": [
        [
          {
            "node": "prep-sheet-data-new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prep-sheet-data-new": {
      "main": [
        [
          {
            "node": "Update Final Video to Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload to YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "4af7a1e5-7714-4dcf-bd92-1f0c3ab6e477",
  "meta": {
    "templateId": "5110",
    "templateCredsSetupCompleted": true,
    "instanceId": "5444bbced5e00d1a22ad4d8774124c6e7d4234f4439bba6b4ff336e1e0457c95"
  },
  "id": "JNm8LVMRRGxyNWAs",
  "tags": []
}
