main.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -14256,
        8784
      ],
      "id": "619ed457-96ff-491d-a656-8bf719e5cd76",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8bca74d6-fc01-4c5d-92c7-8df795bd3237",
              "name": "prompt",
              "value": "Generate a video that is going to be featured on a product page of an e-commerce store. This is going to be for a clothing or fashion brand. This video must feature this exact same model that is provided on the first and last frame reference images and the article of clothing in the first and last frame reference images.\n\nIn this video, the model should strike multiple poses to feature the article of clothing so that a person looking at this product on an ecommerce website has a great ideal how this article of clothing will look and feel.\n\nConstraints:\n- No music or sound effects.\n- The final output video should NOT have any audio.\n- Muted audio.\n- Muted sound effects.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -14016,
        8784
      ],
      "id": "f5ab2315-d63b-42a2-9cb0-abf4bb989492",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ '/tmp/media/' + $('Prepare Folders2').item.json.productFolder + '/images/scene_1.png' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -11088,
        8784
      ],
      "id": "a3a683de-45e1-4c27-b09a-861c9c8a9a8c",
      "name": "Write Image File6"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ '/tmp/media/' + $('Prepare Folders2').item.json.productFolder + '/videos/scene_1.mp4' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -7504,
        8784
      ],
      "id": "1f1a4d31-8d31-41dc-a665-f8c6c596f186",
      "name": "Write Video File6"
    },
    {
      "parameters": {
        "url": "={{ $('Read from Google Sheets4').item.json['Upload ảnh sản phẩm'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -12656,
        8784
      ],
      "id": "c457d08e-0401-45b4-a799-8c6401eb493b",
      "name": "HTTP Request30"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -12208,
        8784
      ],
      "id": "ad50389b-3c6b-4494-a84f-ab9497132bb6",
      "name": "Convert to File14"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -12432,
        8784
      ],
      "id": "90ae1b87-1f41-44cd-b11b-f4a828402ffa",
      "name": "Extract from File14"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -12992,
        9008
      ],
      "id": "b222ab36-bc07-438d-8265-07d68d695124",
      "name": "Think2"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"scenes\": [\n    {\n      \"scene_number\": 1,\n      \"duration\": 8,\n      \"title\": \"Giới thiệu sản phẩm\",\n      \"image_prompt\": \"Young Asian female model (18-25), athletic build, wearing trendy sportswear, standing in modern urban gym. Natural confident pose, holding the product prominently. Bright natural lighting from large windows, golden hour glow. Professional commercial photography, 4K quality, sharp focus on product.\",\n      \"video_prompt\": \"Dynamic commercial video opening. Young Asian female athlete confidently presenting the product in modern gym setting. Smooth tracking shot from product close-up to model's face. Energetic movements, inspiring mood. Camera: slow dolly in, 8 seconds, Dynamic/Energetic style, Vietnamese market.\"\n    },\n    {\n      \"scene_number\": 2,\n      \"duration\": 8,\n      \"title\": \"Sử dụng sản phẩm\",\n      \"image_prompt\": \"Action shot of young Asian female using the product during intense workout. Mid-motion capturing product functionality. Urban gym background with equipment. Dramatic side lighting, sweat droplets visible. Close-up to medium shot, professional sports photography style.\",\n      \"video_prompt\": \"Close-up action sequence demonstrating product benefits during workout. Model actively using product, showing key features. Camera: dutch angle with quick zoom, smooth transitions. Mood: energetic, engaging. 8 seconds, commercial quality.\"\n    },\n    {\n      \"scene_number\": 3,\n      \"duration\": 8,\n      \"title\": \"Call to action\",\n      \"image_prompt\": \"Hero shot of smiling young Asian female holding product towards camera. Confident power pose, direct eye contact with viewer. Clean modern background, soft bokeh effect. Perfect studio lighting, product clearly visible and prominent. Portrait orientation, advertising campaign style.\",\n      \"video_prompt\": \"Final call-to-action scene. Model smiling confidently, presenting product directly to camera. Camera: slow dolly in ending with product close-up. Triumphant, inspiring mood. Brand message moment with text overlay space. 8 seconds, polished commercial finish.\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -12864,
        9008
      ],
      "id": "4259b4d0-ed78-4854-bb92-d66b4c31d7df",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -13120,
        9008
      ],
      "id": "21bf70b4-bf55-4c2a-8552-5e7f5e316685",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "t8zHCiGIbcfLo02t",
          "name": "Google Gemini(PaLM) Api account normal"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate 3 detailed video scene prompts for product: {{ $('Read from Google Sheets4').item.json['Tên sản phẩm'] }}\n\nProduct Information:\n- Product Name: {{ $('Read from Google Sheets4').item.json['Tên sản phẩm'] }}\n- Product Description: {{ $('Read from Google Sheets4').item.json['Mô tả sản phẩm'] }}\n- Target Audience: {{ $('Read from Google Sheets4').item.json['Đối tượng khách hàng'] }}\n- Video Style: {{ $('Read from Google Sheets4').item.json['Phong cách video'] }}\n\nREQUIREMENTS:\n1. EVERY scene must show real people (models) wearing/using the product\n2. Model MUST be centered in frame (horizontal and vertical center)\n3. For PANTS/TROUSERS/SHORTS: Use FULL BODY shot (head to toe)\n4. For SHIRTS/TOPS/JACKETS: Use 3/4 shot (from head to mid-thigh or knee)\n5. Professional fashion photography style: clean white/light gray background, studio lighting\n6. Vary the compositions: standing straight, casual pose, walking pose\n7. For video_prompt: Start with establishing shot, then zoom to product details\n\nCreate 3 diverse scenes (8 seconds each) with different poses and camera movements.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a professional fashion photographer creating e-commerce product photography scripts.\n\n**Task:** Generate 3 different scenes for fashion product videos in the style of professional lookbook/catalog photography.\n\n**Critical Framing Rules:**\n1. Detect product type from name:\n   - If product contains: 'quần', 'pants', 'trousers', 'shorts', 'jeans' → FULL BODY shot (head to toe)\n   - If product contains: 'áo', 'shirt', 'top', 'jacket', 'hoodie', 'sweater' → 3/4 shot (head to mid-thigh)\n2. Model MUST be centered in frame (horizontally and vertically)\n3. Clean minimal background (white, light gray, or soft neutral tones)\n4. Professional studio lighting (soft, even, no harsh shadows)\n\n**Photography Style Reference:**\n- E-commerce catalog style (like Zara, H&M, Uniqlo)\n- Model directly facing camera or slight 3/4 turn\n- Natural, confident poses\n- Focus on product fit and details\n- Vertical format (9:16 ratio for mobile)\n\n**Model Specifications:**\n- Asian/Vietnamese model (age 20-30)\n- Fit, attractive appearance\n- Professional modeling poses\n- Confident, natural expression\n\n**Technical Requirements:**\n- Use ONLY single quotes (') in prompts, NEVER double quotes (\")\n- All prompts in English\n- Product name must appear in every prompt\n- Avoid contractions (use 'do not' instead of 'don't')\n\n**Output Format - JSON ONLY:**\nReturn raw JSON without markdown, code blocks, or explanations.\n\n{\n  \"scenes\": [\n    {\n      \"scene_number\": 1,\n      \"duration\": 8,\n      \"title\": \"Scene title in English\",\n      \"framing\": \"Full Body\" or \"3/4 Shot\",\n      \"image_prompt\": \"Professional fashion catalog photography of [PRODUCT NAME]. Young Asian model (20-30 years old, attractive, fit body) wearing the product, standing centered in frame facing camera. [SPECIFY: Full body shot head to toe OR 3/4 shot from head to mid-thigh]. Clean white studio background, soft even lighting from multiple angles, no harsh shadows. Model in natural confident pose [describe specific pose]. Product clearly visible with sharp details. High-end fashion photography, 4K quality, vertical 9:16 format. Professional catalog style similar to premium fashion brands.\",\n      \"video_prompt\": \"8-second professional fashion video. Opening (0-2s): Wide establishing shot showing model centered in frame wearing [PRODUCT NAME]. Mid section (2-5s): Slow smooth dolly forward movement, keeping model centered. Closing (5-8s): Close-up zoom on product details - fabric texture, fit, and key features. Camera movement: smooth controlled dolly in. Lighting: professional studio setup. Style: high-end fashion catalog. Model maintains confident pose throughout.\"\n    },\n    {\n      \"scene_number\": 2,\n      \"duration\": 8,\n      \"title\": \"Different scene title\",\n      \"framing\": \"Full Body\" or \"3/4 Shot\",\n      \"image_prompt\": \"[Similar structure but different pose - e.g., casual stance, hand in pocket, slight body turn]\",\n      \"video_prompt\": \"[Similar structure but different camera movement - e.g., slow orbit around model, vertical pan]\"\n    },\n    {\n      \"scene_number\": 3,\n      \"duration\": 8,\n      \"title\": \"Another different scene\",\n      \"framing\": \"Full Body\" or \"3/4 Shot\",\n      \"image_prompt\": \"[Similar structure but different pose - e.g., walking pose, dynamic movement]\",\n      \"video_prompt\": \"[Similar structure but different camera movement - e.g., tracking shot following model]\"\n    }\n  ]\n}\n\n**Example for PANTS:**\nimage_prompt: 'Professional fashion catalog photography of [Black Cargo Pants]. Young Asian male model (25 years old, athletic build, 180cm height) wearing the black cargo pants with white t-shirt, standing centered in frame facing camera. FULL BODY shot from head to toe showing entire outfit and shoes. Clean white studio background, soft even lighting, no shadows. Model in relaxed standing pose with hands in pockets, confident expression. Pants fit clearly visible. High-end fashion photography, sharp focus, 4K quality, vertical 9:16 format.'\n\n**Example for SHIRT:**\nimage_prompt: 'Professional fashion catalog photography of [Gray Hoodie]. Young Asian female model (23 years old, fit body, 165cm height) wearing the gray hoodie with black jeans, standing centered in frame facing camera. 3/4 SHOT from head to mid-thigh, cropped at knee level. Clean light gray studio background, soft studio lighting. Model in casual confident pose with one hand adjusting hood, natural smile. Hoodie fabric and fit clearly visible. High-end fashion photography, sharp details, 4K quality, vertical 9:16 format.'\n\n**Critical:**\n- Return ONLY the JSON object\n- NO markdown formatting (no ```json)\n- Start with { and end with }\n- Use ONLY single quotes (') in all text\n- Specify correct framing based on product type"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -13072,
        8784
      ],
      "id": "123faab1-37f9-4f02-90de-52d81bd717bf",
      "name": "AI Agent - Script Writer1",
      "retryOnFail": true,
      "maxTries": 5,
      "notes": "Tạo kịch bản 3 scenes cho video"
    },
    {
      "parameters": {
        "command": "={{ $json.mkdirCommand }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -13344,
        8784
      ],
      "id": "feaa992c-23db-414b-96a5-ed77fd3dea8f",
      "name": "Create Product Folders2",
      "notes": "Tạo folder structure: product/images, product/videos, product/metadata"
    },
    {
      "parameters": {
        "jsCode": "// Tạo folder structure ngay sau khi đọc Google Sheets\nconst items = $input.all();\nconst result = [];\n\nfor (const item of items) {\n  const productName = item.json['Tên sản phẩm'] || 'unknown_product';\n  \n  // Chuẩn hóa tên folder (lowercase, bỏ dấu tiếng Việt, thay space bằng underscore)\n  const productFolder = productName\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '') // Bỏ dấu\n    .replace(/đ/g, 'd')\n    .replace(/Đ/g, 'D')\n    .replace(/[^a-z0-9]+/g, '_')     // Thay ký tự đặc biệt bằng underscore\n    .replace(/^_+|_+$/g, '');         // Xóa underscore ở đầu/cuối\n  \n  // Tạo các path cần thiết\n  const basePath = '/tmp/media';\n  const folders = [\n    `${basePath}/${productFolder}`,\n    `${basePath}/${productFolder}/images`,\n    `${basePath}/${productFolder}/videos`,\n    `${basePath}/${productFolder}/metadata`\n  ];\n  \n  // Command để tạo tất cả folders và confirm\n  const mkdirCommand = folders.map(f => `mkdir -p \"${f}\"`).join(' && ') + ` && echo \"✅ Created folders for: ${productFolder}\" && ls -la \"${basePath}/${productFolder}\"`;\n  \n  console.log(`📁 Creating folders for: ${productName}`);\n  console.log(`📁 Folder name: ${productFolder}`);\n  console.log(`📁 Command: ${mkdirCommand}`);\n  \n  result.push({\n    json: {\n      ...item.json,\n      productFolder: productFolder,\n      foldersToCreate: folders,\n      mkdirCommand: mkdirCommand\n    },\n    binary: item.binary || {}\n  });\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13568,
        8784
      ],
      "id": "985a7ccf-817b-48f9-8402-b046cfcd698c",
      "name": "Prepare Folders2",
      "notes": "Chuẩn bị tạo folder structure cho sản phẩm"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1nGk5BgYGq2OA7T5K9u1cQ_kT5Kd15KxzGuzrRAntrMU/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1nGk5BgYGq2OA7T5K9u1cQ_kT5Kd15KxzGuzrRAntrMU/edit?gid=0#gid=0",
          "mode": "url"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "wait"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -13792,
        8784
      ],
      "id": "a10b9c97-9d81-4802-a890-fccfc27647bd",
      "name": "Read from Google Sheets4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HtCIWYTvmo9aec0U",
          "name": "Google Sheets account"
        }
      },
      "notes": "Đọc rows có status='wait'"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "edit",
        "prompt": "={{ $('AI Agent - Script Writer1').item.json.output.scenes[0].image_prompt }}",
        "images": {
          "values": [
            {}
          ]
        },
        "options": {
          "binaryPropertyOutput": "edited"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -11984,
        8784
      ],
      "id": "7550e822-e84a-43a4-8825-6dac128485a8",
      "name": "Generate Scene Images1",
      "credentials": {
        "googlePalmApi": {
          "id": "D4Cj4zUI4TxhP6ir",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "notes": "Tạo ảnh cho từng scene"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "edited",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -11536,
        8784
      ],
      "id": "82a3cd9b-e4d9-4a39-ba01-89ec3163ec85",
      "name": "Extract from File15",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -11312,
        8784
      ],
      "id": "06305688-b865-47f6-b7e7-eb1cfc395ab2",
      "name": "Convert to File15"
    },
    {
      "parameters": {
        "url": "=https://generativelanguage.googleapis.com/v1beta/{{ $json.name }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -8176,
        8704
      ],
      "id": "5df88390-24ee-44b7-952b-cce636755840",
      "name": "HTTP Request31",
      "credentials": {
        "httpHeaderAuth": {
          "id": "QkwwUrzyD61bQlBT",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "download",
        "url": "={{ $json.response.generateVideoResponse.generatedSamples[0].video.uri }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -7728,
        8784
      ],
      "id": "531bf6d0-7d33-40db-9930-166a9a013d25",
      "name": "Download a video11",
      "credentials": {
        "googlePalmApi": {
          "id": "D4Cj4zUI4TxhP6ir",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9d7e8fdc-0cd3-4400-91a3-3394b4d59058",
              "leftValue": "={{ $json.response }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "2680894a-da09-4307-823c-00bcd5cafee4",
              "leftValue": "={{ $json.response.generateVideoResponse.generatedSamples }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -7952,
        8784
      ],
      "id": "a13ad0be-76c8-4268-ab32-376cdf536032",
      "name": "If11"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -8400,
        8784
      ],
      "id": "e45c9eae-1055-4ebe-b35b-9bbbc950307a",
      "name": "Wait11",
      "webhookId": "9344ed50-ec84-4df0-8961-ec7a866d4ba4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/veo-3.1-generate-preview:predictLongRunning",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"instances\": [\n    {\n      \"prompt\": \"{{ $('AI Agent - Script Writer1').item.json.output.scenes[0].video_prompt }}\",\n      \"image\": {\n        \"mimeType\": \"image/png\",\n        \"bytesBase64Encoded\": \"{{ $('Extract from File15').item.json.data }}\"\n      },\n      \"lastFrame\": {\n        \"mimeType\": \"image/png\",\n        \"bytesBase64Encoded\": \"{{ $('Extract from File16').item.json.data }}\"\n      }\n    }\n  ],\n  \"parameters\": {\n    \"durationSeconds\": 8,\n    \"aspectRatio\": \"9:16\",\n    \"personGeneration\": \"allow_adult\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -8624,
        8784
      ],
      "id": "828b2ef7-ac62-429e-8f30-db86a4665d82",
      "name": "HTTP Request32",
      "credentials": {
        "httpHeaderAuth": {
          "id": "QkwwUrzyD61bQlBT",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ '/tmp/media/' + $('Prepare Folders2').item.json.productFolder + '/images/scene_2.png' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -9968,
        8784
      ],
      "id": "c1e192d8-20cc-4e71-8823-752fc862520e",
      "name": "Write Image File7"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "edit",
        "prompt": "={{ $('AI Agent - Script Writer1').item.json.output.scenes[1].image_prompt }}",
        "images": {
          "values": [
            {}
          ]
        },
        "options": {
          "binaryPropertyOutput": "edited"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -10864,
        8784
      ],
      "id": "1f1d5995-7a39-4df0-a9c2-8ba6f0612cb9",
      "name": "Generate Scene Images9",
      "credentials": {
        "googlePalmApi": {
          "id": "D4Cj4zUI4TxhP6ir",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "notes": "Tạo ảnh cho từng scene"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "edited",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -10416,
        8784
      ],
      "id": "943020d7-ad7a-45ad-86a3-243c1f4cb776",
      "name": "Extract from File16",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -10192,
        8784
      ],
      "id": "3652ad1e-999a-466d-89c2-7b338956b2d7",
      "name": "Convert to File16"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ '/tmp/media/' + $('Prepare Folders2').item.json.productFolder + '/images/scene_3.png' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -8848,
        8784
      ],
      "id": "ed4e98bd-15b9-477a-8bdd-01f81162b239",
      "name": "Write Image File8"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "edit",
        "prompt": "={{ $('AI Agent - Script Writer1').item.json.output.scenes[2].image_prompt }}",
        "images": {
          "values": [
            {}
          ]
        },
        "options": {
          "binaryPropertyOutput": "edited"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -9744,
        8784
      ],
      "id": "d5db1b43-de63-4db9-86ba-050f2fda6b9c",
      "name": "Generate Scene Images10",
      "credentials": {
        "googlePalmApi": {
          "id": "D4Cj4zUI4TxhP6ir",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "notes": "Tạo ảnh cho từng scene"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "edited",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -9296,
        8784
      ],
      "id": "e0d9b662-60c9-4dd0-ae8b-bb22e2101850",
      "name": "Extract from File17",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -9072,
        8784
      ],
      "id": "c17fe536-39b9-4c37-8100-7b4d7849a409",
      "name": "Convert to File17"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ '/tmp/media/' + $('Prepare Folders2').item.json.productFolder + '/videos/scene_2.mp4' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -6160,
        8784
      ],
      "id": "7cf65bb9-9d69-4eea-b200-5a583386af83",
      "name": "Write Video File7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/veo-3.1-generate-preview:predictLongRunning",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"instances\": [\n    {\n      \"prompt\": \"{{ $('AI Agent - Script Writer1').item.json.output.scenes[1].video_prompt }}\",\n      \"image\": {\n        \"mimeType\": \"image/png\",\n        \"bytesBase64Encoded\": \"{{ $('Extract from File16').item.json.data }}\"\n      },\n      \"lastFrame\": {\n        \"mimeType\": \"image/png\",\n        \"bytesBase64Encoded\": \"{{ $('Extract from File17').item.json.data }}\"\n      }\n    }\n  ],\n  \"parameters\": {\n    \"durationSeconds\": 8,\n    \"aspectRatio\": \"9:16\",\n    \"personGeneration\": \"allow_adult\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -7280,
        8784
      ],
      "id": "f7a509f5-3444-4757-b438-07e4f267acec",
      "name": "HTTP Request33",
      "credentials": {
        "httpHeaderAuth": {
          "id": "QkwwUrzyD61bQlBT",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ '/tmp/media/' + $('Prepare Folders2').item.json.productFolder + '/videos/scene_3.mp4' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -4816,
        8784
      ],
      "id": "c965c934-39a9-4aaf-8935-b052ee4fdb28",
      "name": "Write Video File8"
    },
    {
      "parameters": {
        "url": "=https://generativelanguage.googleapis.com/v1beta/{{ $json.name }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5488,
        8704
      ],
      "id": "17330074-e3a4-4679-9f33-aa51162f997f",
      "name": "HTTP Request34",
      "credentials": {
        "httpHeaderAuth": {
          "id": "QkwwUrzyD61bQlBT",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "download",
        "url": "={{ $json.response.generateVideoResponse.generatedSamples[0].video.uri }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -5040,
        8784
      ],
      "id": "999386ba-550a-4ab1-81d6-6366b25496d6",
      "name": "Download a video12",
      "credentials": {
        "googlePalmApi": {
          "id": "D4Cj4zUI4TxhP6ir",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9d7e8fdc-0cd3-4400-91a3-3394b4d59058",
              "leftValue": "={{ $json.response }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "2680894a-da09-4307-823c-00bcd5cafee4",
              "leftValue": "={{ $json.response.generateVideoResponse.generatedSamples }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5264,
        8784
      ],
      "id": "22c0d254-d407-4a41-a60a-90b3e5a6bf7c",
      "name": "If12"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -5712,
        8784
      ],
      "id": "655879f7-8ac3-4aa6-b48c-4bf26c78d36f",
      "name": "Wait12",
      "webhookId": "9344ed50-ec84-4df0-8961-ec7a866d4ba4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/veo-3.1-generate-preview:predictLongRunning",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"instances\": [\n    {\n      \"prompt\": \"{{ $('AI Agent - Script Writer1').item.json.output.scenes[1].video_prompt }}\",\n      \"image\": {\n        \"mimeType\": \"image/png\",\n        \"bytesBase64Encoded\": \"{{ $('Extract from File17').item.json.data }}\"\n      },\n      \"lastFrame\": {\n        \"mimeType\": \"image/png\",\n        \"bytesBase64Encoded\": \"{{ $('Extract from File15').item.json.data }}\"\n      }\n    }\n  ],\n  \"parameters\": {\n    \"durationSeconds\": 8,\n    \"aspectRatio\": \"9:16\",\n    \"personGeneration\": \"allow_adult\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5936,
        8784
      ],
      "id": "3d242c82-8752-46f1-b7ec-c74be271908b",
      "name": "HTTP Request35",
      "credentials": {
        "httpHeaderAuth": {
          "id": "QkwwUrzyD61bQlBT",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare ffmpeg command to merge 3 videos\nconst productFolder = $('Prepare Folders2').first().json.productFolder;\nconst basePath = `/tmp/media/${productFolder}/videos`;\n\n// Create filelist.txt content\nconst filelistContent = `file 'scene_1.mp4'\\nfile 'scene_2.mp4'\\nfile 'scene_3.mp4'`;\n\n// Command to create filelist and merge videos\nconst mergeCommand = `cd ${basePath} && echo \"${filelistContent}\" > filelist.txt && ffmpeg -f concat -safe 0 -i filelist.txt -c copy final_video.mp4 && echo \"✅ Merged 3 videos into final_video.mp4\" && ls -lh final_video.mp4`;\n\nconsole.log(`🎬 Merging videos for: ${productFolder}`);\nconsole.log(`📁 Command: ${mergeCommand}`);\n\nreturn {\n  json: {\n    productFolder: productFolder,\n    mergeCommand: mergeCommand,\n    outputPath: `${basePath}/final_video.mp4`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4592,
        8784
      ],
      "id": "726d2db8-d0ed-4ba9-81ea-02fa51e383d1",
      "name": "Prepare Merge Command1"
    },
    {
      "parameters": {
        "command": "={{ $json.mergeCommand }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -4368,
        8784
      ],
      "id": "4e70a235-d6df-4efc-95ba-7d283b70de73",
      "name": "Merge Videos1",
      "notes": "Ghép 3 videos thành 1 video hoàn chỉnh"
    },
    {
      "parameters": {
        "url": "=https://generativelanguage.googleapis.com/v1beta/{{ $json.name }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6832,
        8704
      ],
      "id": "baab9119-9cd4-4acd-8288-1e1e15258a45",
      "name": "HTTP Request3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "QkwwUrzyD61bQlBT",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "download",
        "url": "={{ $json.response.generateVideoResponse.generatedSamples[0].video.uri }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -6384,
        8784
      ],
      "id": "8d4cfe3a-b5cd-49ff-8405-775461a0930d",
      "name": "Download a video13",
      "credentials": {
        "googlePalmApi": {
          "id": "D4Cj4zUI4TxhP6ir",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9d7e8fdc-0cd3-4400-91a3-3394b4d59058",
              "leftValue": "={{ $json.response }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "2680894a-da09-4307-823c-00bcd5cafee4",
              "leftValue": "={{ $json.response.generateVideoResponse.generatedSamples }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6608,
        8784
      ],
      "id": "401f9b8d-01b3-4679-a1fa-307820379b4d",
      "name": "If13"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -7056,
        8784
      ],
      "id": "fb5b06c3-fbc8-4002-a827-7f04a3b66072",
      "name": "Wait13",
      "webhookId": "9344ed50-ec84-4df0-8961-ec7a866d4ba4"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1nGk5BgYGq2OA7T5K9u1cQ_kT5Kd15KxzGuzrRAntrMU/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1nGk5BgYGq2OA7T5K9u1cQ_kT5Kd15KxzGuzrRAntrMU/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "done",
            "row_number": "={{ $('Read from Google Sheets4').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Tên sản phẩm",
              "displayName": "Tên sản phẩm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Upload ảnh sản phẩm",
              "displayName": "Upload ảnh sản phẩm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Đối tượng khách hàng",
              "displayName": "Đối tượng khách hàng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Mô tả sản phẩm",
              "displayName": "Mô tả sản phẩm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phong cách video",
              "displayName": "Phong cách video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Giá sản phẩm",
              "displayName": "Giá sản phẩm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ngày tạo",
              "displayName": "Ngày tạo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Video Result",
              "displayName": "Video Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -4144,
        8784
      ],
      "id": "33373d51-cb2f-443c-be61-3deeb6553d85",
      "name": "Read from Google Sheets5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HtCIWYTvmo9aec0U",
          "name": "Google Sheets account"
        }
      },
      "notes": "Đọc rows có status='wait'"
    },
    {
      "parameters": {
        "operation": "crop",
        "dataPropertyName": "edited",
        "width": 576,
        "height": 1024,
        "positionX": 224,
        "options": {}
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -11760,
        8784
      ],
      "id": "e52e076e-4d3d-487d-b938-ad28aa1e9b9c",
      "name": "Edit Image6"
    },
    {
      "parameters": {
        "operation": "crop",
        "dataPropertyName": "edited",
        "width": 576,
        "height": 1024,
        "positionX": 224,
        "options": {}
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -9520,
        8784
      ],
      "id": "6133c62d-7bca-4ee5-8df4-93d7da8cf4b9",
      "name": "Edit Image8"
    },
    {
      "parameters": {
        "operation": "crop",
        "dataPropertyName": "edited",
        "width": 576,
        "height": 1024,
        "positionX": 224,
        "options": {}
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -10640,
        8784
      ],
      "id": "583c5867-bdc2-4ad0-bebe-0f58f601933f",
      "name": "Edit Image7"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Read from Google Sheets4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Image File6": {
      "main": [
        [
          {
            "node": "Generate Scene Images9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Video File6": {
      "main": [
        [
          {
            "node": "HTTP Request33",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request30": {
      "main": [
        [
          {
            "node": "Extract from File14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File14": {
      "main": [
        [
          {
            "node": "Generate Scene Images1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File14": {
      "main": [
        [
          {
            "node": "Convert to File14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Script Writer1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent - Script Writer1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Script Writer1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Script Writer1": {
      "main": [
        [
          {
            "node": "HTTP Request30",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Product Folders2": {
      "main": [
        [
          {
            "node": "AI Agent - Script Writer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Folders2": {
      "main": [
        [
          {
            "node": "Create Product Folders2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read from Google Sheets4": {
      "main": [
        [
          {
            "node": "Prepare Folders2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Scene Images1": {
      "main": [
        [
          {
            "node": "Edit Image6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File15": {
      "main": [
        [
          {
            "node": "Convert to File15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File15": {
      "main": [
        [
          {
            "node": "Write Image File6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request31": {
      "main": [
        [
          {
            "node": "If11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a video11": {
      "main": [
        [
          {
            "node": "Write Video File6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If11": {
      "main": [
        [
          {
            "node": "Download a video11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait11": {
      "main": [
        [
          {
            "node": "HTTP Request31",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request32": {
      "main": [
        [
          {
            "node": "Wait11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Image File7": {
      "main": [
        [
          {
            "node": "Generate Scene Images10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Scene Images9": {
      "main": [
        [
          {
            "node": "Edit Image7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File16": {
      "main": [
        [
          {
            "node": "Convert to File16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File16": {
      "main": [
        [
          {
            "node": "Write Image File7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Image File8": {
      "main": [
        [
          {
            "node": "HTTP Request32",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Scene Images10": {
      "main": [
        [
          {
            "node": "Edit Image8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File17": {
      "main": [
        [
          {
            "node": "Convert to File17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File17": {
      "main": [
        [
          {
            "node": "Write Image File8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Video File7": {
      "main": [
        [
          {
            "node": "HTTP Request35",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request33": {
      "main": [
        [
          {
            "node": "Wait13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Video File8": {
      "main": [
        [
          {
            "node": "Prepare Merge Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request34": {
      "main": [
        [
          {
            "node": "If12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a video12": {
      "main": [
        [
          {
            "node": "Write Video File8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If12": {
      "main": [
        [
          {
            "node": "Download a video12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait12": {
      "main": [
        [
          {
            "node": "HTTP Request34",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request35": {
      "main": [
        [
          {
            "node": "Wait12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Merge Command1": {
      "main": [
        [
          {
            "node": "Merge Videos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Videos1": {
      "main": [
        [
          {
            "node": "Read from Google Sheets5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "If13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a video13": {
      "main": [
        [
          {
            "node": "Write Video File7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If13": {
      "main": [
        [
          {
            "node": "Download a video13",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait13": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image6": {
      "main": [
        [
          {
            "node": "Extract from File15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image8": {
      "main": [
        [
          {
            "node": "Extract from File17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image7": {
      "main": [
        [
          {
            "node": "Extract from File16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "83547899288f2dd257d4b817bf6d5dd354001158d0856b70c4ff4812cafec727"
  }
} 